name: Pipeline for Productive deployment

on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    uses: ./.github/workflows/aws-deploy.yml
    with:
      gh_environment: "dev"
    secrets: inherit
